<%- include('./partials/head') %>
<title>Welkom bij We<3 web!</title>

    <main class="hoofdpagina">
        <div class="hoofdpagina-blogs">
            <h2>Semester 2</h2>
            <ul>
                <% semester2.forEach(blog => { %>
                    <li>
                        <a href="/<%-blog.slug%>">
                            <p class="hoofdpagina-blogs-type"><%-blog.type%></p>

                            <h3><%-blog.title%></h3>
                            <p class="hoofdpagina-blogs-description"><%- blog.short_description%></p>
                        </a>
                    </li>
                <% }); %>
            </ul>

            <h2>Semester 1</h2>
            <ul>
                <% semester1.forEach(blog => { %>
                    <li>
                        <a href="/<%-blog.slug%>">
                            <p class="hoofdpagina-blogs-type"><%-blog.type%></p>
                            <h3><%-blog.title%></h3>
                            <time><%-blog.date%></time>
                            <p class="hoofdpagina-blogs-description"> <%-blog.short_description%></p>
                        </a>
                    </li>
                <% }); %>
            </ul>
         </div>
    </main>

<%- include('./partials/foot') %>
